{% extends 'blog/base.html' %}

{% block title %}
Post details
{% endblock %}

{% block content %}

<h1 class="mt-3">{{ post.title }}</h1>

<div class="container">
    <div class="row">
        <div class="col-10">
            <a href="{% url 'post_draft' %}">
                <button type="submit" class="btn btn-success lists-btn">Back to unfiltered posts</button>
            </a>
            <a href="{% url 'post_list' %}">
                <button type="submit" class="btn btn-success lists-btn">Back to filtered posts</button>
            </a>
            <div class="posts" style="margin: 20px">
                <div>
                    <div>{{ post.text }}</div>
                </div>
            </div>

            <a href="{% url 'post_edit' post_pk=post.pk %}">
                <button type="submit" class="btn btn-success">Edit</button>
            </a>
            {% if post.published == False %}
            <a href="{% url 'published_post' post_pk=post.pk %}">
                <button type="submit" class="btn btn-success">Publish</button>
            </a>
            {% endif %}
            <a href="{% url 'post_delete' post_pk=post.pk %}">
                <button type="submit" class="btn btn-success">Delete</button>
            </a>


        </div>
        <div class="col-2">
            <div style="text-align: end;">
                <h2>Category</h2>
                <b>
                    <div>{{ post.category }}</div>
                </b>
                <a href="{% url 'feedback' post_pk=post.pk %}">
                    <button type="submit" class="mt-5 btn btn-success">Reviews</button>
                </a>
                <div>Reviews: {{ count }} </div>
            </div>
        </div>
    </div>
</div>

<div>
    <h2>Comments: {{ counter }}</h2>
    {% for i in comments %}
    {{ i }} <span style="color: blue;">{{ i.author }}</span> {{ i.publish_date }}
    {% if user.id == i.author.id %}
    <a href="{% url 'comment_delete' post_pk=post.pk comment_pk=i.pk %}">
        Delete
    </a><br>

    {% endif %}
    {% endfor %}
</div>
{% if 'detail' in request.path %}
<form class="mt-3" method="POST">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <button type="submit" class="btn btn-success mt-3 mb-5">Add comment</button>
</form>
{% endif %}

{% endblock %}